#products-table-border-width {
  border-width: 2px !important;
  border-color: #dee2e6 !important;
}

.buttonCol {
  width: 150px;
  padding: 5px;
}

.product-button {
  width: 100%;
}

.red-update-product-button {
  background-color: #e43639 !important;
  border-color: #e43639 !important;
}

.inputCol {
  width: 300px;
  padding: 5px;
}

.input {
  width: 100%;
  text-align: center;
}
